<!DOCTYPE html>
<html>
<head>
    <title>Вход</title>
    <meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/style/style.css" />
</head>
<body>
    <header>
		<h1>Вход</h1>
	</header>
	<article>
		<form action="signin" method="POST" class="logination-form">
			<label>Логин</label>
			<input name="login" type="text" required/><br><br>
			<label>Пароль</label>
			<input name="password" type="password" required/><br><br>
			<input type="submit" value="Вход" />
		</form>
	</article>
	<footer>
		<h4>Copyright &copy; TrahanovEugene 2021</h4>
	</footer>
</body>
<html>