<!DOCTYPE html>
<html>
<head>
    <title>Главная</title>
    <meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="../style/style.css" />
</head>
<body>
    <header>
		<h1>Главная</h1>
	</header>
	<article>
		<div class="main-menu">
			<p><a href="/signup">Регистрация</a></p>
			<p><a href="/signin">Вход</a></p>
		</div>
	</article>
	<footer>
		<h4>Copyright &copy; TrahanovEugene 2021</h4>
	</footer>
</body>
<html>